.information {
    padding: 50px 0;
    background-color: rgba($dark, .05);

    &__container {
        @include content;
        @include flex;
        flex-direction: column;
        margin-top: 50px;
    }

    &__error {
        font-size: 2rem;
        font-weight: 700;
        padding: 30px 0;
    }

    @include tablet {
        &__container {
            flex-direction: row;
            flex-wrap: wrap;
        }
    }
}