.card {
    @include flex;
    flex-direction: column;
    margin: 10px;
    padding: 2rem;
    width: 100%;
    max-width: 380px;
    background-color: $white;
    border-radius: 10px;

    &__img {
        width: 100%;
        height: 200px;
    }

    &__description {
        width: 100%;
        align-self: flex-start;
    }

    &__title {
        margin-top: 20px;
    }

    &__list {
        margin-top: 10px;
    }

    &__listitem {
        &--bold {
            font-weight: 600;
        }
    }

    &__button {
        margin-top: 20px;
        background-color: $orange;
    }
}