.search {
    @include flex;
    flex-direction: column;
    margin-top: 50px;
    position: relative;

    &__label {
        font-size: 0.75rem;
    }

    &__input {
        margin-top: 5px;
        padding: 0.5rem 1.5rem;
        width: 80%;
        max-width: 300px;
        border-radius: $radius;
    }

    &__radio {
        @include flex;
        flex-direction: column;
        margin-top: 20px;
    }

    &__option {
        padding: 7px 0;
        align-self: flex-start;
        @include flex;

        & input {
            margin-right: 10px;
            width: 25px;
            height: 25px;
        }
    }

    &__btn {
        margin-top: 25px;
        background-color: $orange;
    }

    &__all {
        margin-top: 20px;
    }

    @include tablet {
        margin-top: -100px;
    }
}